<style>
	.selected{
		background: lightgray;
	}
	ul.rating li {
		display: inline;
		border: 0px;
		background: none;
		padding: 5px 10px;
	}
	ul.rating li i {
		font-size: 30px;
	}

	.left-auto{
		margin-left: auto;
	}

	.right-auto{
		margin-right: auto;
	}
</style>

<head>
	<link rel="stylesheet" href="mdl/material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/helpdesk/helpdesk.css">
</head> 



<ion-view>

	<div class="head main-bg-color">
		<div class = "row">
			<div class = "col col-10">
				<div class="top-icon" ng-click="logout()">
					<a class="icon ion-ios-arrow-back" style="color: #fff; top:50%"></a>
				</div>
			</div>
			<div class="col col-90">
				<center>
					<i style="font-size: 18px; margin-left:-10%; color: #fff">Dashboard</i>
				</center>
		 	</div>
		</div>
	</div>
		<ion-content scroll="true" class="white-bg">
			<div class="welcome-box">
				<div class="welcome-text">SELAMAT DATANG DI</div>
				<div class="zef-text"><b>ZEF</b>MAPS</div>
			</div>
			<div class="dash-menu-box">
				<div class="dash-menu">
					<div class="expertise-container"  ui-sref="penitikanmc">
						<div class="card-rj">
							<div class="card-dash-title">
								<div>
									<i class="la la-map-pin"></i><br>
									Penitikan MC0
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dash-menu">
					<div class="expertise-container"  ui-sref="pengambilanfoto">
						<div class="card-rj">
							<div class="card-dash-title">
								<div>
									<i class="la la-camera"></i><br>
									Pengambilan Foto
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dash-menu">
					<div class="expertise-container"  ui-sref="pemindahanmc">
						<div class="card-rj">
							<div class="card-dash-title">
								<div>
									<i class="la la-map-signs"></i><br>
									Pemindahan Titik MC0
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dash-menu">
					<div class="expertise-container"  ui-sref="laporanharian">
						<div class="card-rj">
							<div class="card-dash-title">
								<div>
									<i class="la la-file-text"></i><br>
									Laporan Harian
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dash-menu">
					<div class="expertise-container"  ui-sref="laporanbarang">
						<div class="card-rj">
							<div class="card-dash-title">
								<div>
									<i class="la la-file-image-o"></i><br>
									Laporan On-Site
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dash-menu">
					<div class="expertise-container"  ui-sref="status">
						<div class="card-rj">
							<div class="card-dash-title">
								<div>
									<i class="la la-info-circle"></i><br>
									Status
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
	</ion-content>
</ion-view>

