<ion-modal-view>
    <div class="head main-bg-color">
        <div class = "row">
            <div class = "col col-10">
                <div class="top-icon" ng-click="closeModal()">
                    <a class="icon ion-ios-arrow-back" style="color: #fff; top:50%"></a>
                </div>
            </div>
            <div class="col col-90">
                <center>
                    <i style="font-size: 18px; margin-left:-10%; color: #fff">Form Pengambilan Foto</i>
                </center>
                </div>
        </div>
    </div>
    <ion-content scroll="true">

            <div class="list">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <p>Photo</p>
                    </label>
                    <button class="button button-small" ng-click="openCamera()">
                        Select Photo
                    </button>
                </div>
            </div>

            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Progress
                    </div>
                    <select ng-model="progress">
                        <option selected>0%</option>
                        <option>30%</option>
                        <option>50%</option>
                        <option>80%</option>
                        <option>100%</option>
                    </select>
                </label>
            </div>

            <button class="button button-block button-positive" ng-click="createTitik(project.id_pekerjaan, jmlItem)">
                Save
            </button>		
    </ion-content>
</ion-modal-view>