<style>
    .keyboard-open .test{
        height:auto !important;
		bottom: 10% !important;
    }

	.popup-buttons button {
		background: #FFC107 !important;
    }

	.popupuniversal .popup-head {
        padding: 0px;
        border: 0px;
        text-align: center;
    }

	.popupuniversal .popup{
        background: transparent !important;
        height: 100%;
        max-height: 100% !important;
        width: 100%;
    }

    .no-header{
        padding-top: 0;
    }
</style>
<ion-view id="login" hide-nav-bar="true" >
	<ion-content scroll="true" has-bouncing="false" class="no-header">

        <form >
        <div style="width: 100%; height: 100%; position: absolute;"></div>
        <div style="background: url('img/background.png'); background-size: cover; background-position: center top; width: 100%; height: 100%; position: absolute;"></div>
        <h6 style="position: absolute; bottom: 1px; width: 100%; text-align: center; font-size: 10px;">Version 1.0.0</h6>
        <div class="login-box">
            <img src="img/logos.png">
            <div class="input-group">
                <i class="fa fa-user"></i>
                <input ng-model="loginData.username" type="text" placeholder="Enter username">
            </div>
            <div class="input-group">
                <i class="fa fa-lock"></i>
                <input ng-model="loginData.password" type="password" placeholder="Enter password">
            </div>
            <button ui-sref="dashboard" type="submit" class="btn main-bg-color mt-15"><i class="fa fa-sign-in"></i> Sign In</button>
        </div>
        </form>
	</ion-content>
</ion-view>
