<style>
	.left-auto{
		margin-left: auto;
	}

	.right-auto{
		margin-right: auto;
	}
</style>

<head>
	<link rel="stylesheet" href="mdl/material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/helpdesk/helpdesk.css">
</head> 



<ion-view>

	<div class="head main-bg-color">
		<div class = "row">
			<div class = "col col-10">
				<div class="top-icon" ui-sref="dashboard">
					<a class="icon ion-ios-arrow-back" style="color: #fff; top:50%"></a>
				</div>
			</div>
			<div class="col col-90">
				<center>
					<i style="font-size: 18px; margin-left:-10%; color: #fff">Pengambilan Foto</i>
				</center>
		 	</div>
		</div>	
	</div>
	<ion-content scroll="false">
		
		<!-- <div class="card" ng-repeat="pekerjaan in listPekerjaan">
			<div class="item item-divider">
				{{pekerjaan.nama_segmen}}
			</div>
			<div class="item item-text-wrap">
				body
			</div>
			<div class="item item-divider">
				footer
			</div>
		</div> -->

		<div style="height: 100%" id="map"></div>

		<br/><br/><br/><br/>			
	</ion-content>
</ion-view>