<style>
	.left-auto{
		margin-left: auto;
	}

	.right-auto{
		margin-right: auto;
	}
</style>

<head>
	<link rel="stylesheet" href="mdl/material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/helpdesk/helpdesk.css">
</head> 



<ion-view>

	<div class="head main-bg-color">
		<div class = "row">
			<div class = "col col-10">
				<div class="top-icon" ui-sref="dashboard">
					<a class="icon ion-ios-arrow-back" style="color: #fff; top:50%"></a>
				</div>
			</div>
			<div class="col col-90">
				<center>
					<i style="font-size: 18px; margin-left:-10%; color: #fff">Penitikan MC0</i>
				</center>
		 	</div>
		</div>
	</div>
	<ion-content scroll="true">
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						Project
					</div>
					<select ng-model="project" ng-change="getListProvinsi(project.id_pekerjaan)" ng-options="project as project.kontraktor for project in listProject">
						
					</select>
				</label>
			</div>

			<div class="list" ng-if="listProvinsi != ''">
				<label class="item item-input item-select">
					<div class="input-label">
						Provinsi
					</div>
					<select ng-model="provinsi" ng-change="getListSegmen(project.id_pekerjaan, provinsi.PROV_ID)" ng-options="provinsi as provinsi.PROV_NAME for provinsi in listProvinsi">
						
					</select>
				</label>
			</div>

			<div class="list" ng-if="listSegmen != ''">
				<label class="item item-input item-select">
					<div class="input-label">
						Segmen
					</div>
					<select ng-model="segmen" ng-change="getListItem(project.id_pekerjaan)" ng-options="segmen as segmen.nama_segmen for segmen in listSegmen">
						
					</select>
				</label>
			</div>

			<div class="list" ng-if="listItem != ''">
				<label class="item item-input item-select">
					<div class="input-label">
						Item
					</div>
					<select ng-model="item" ng-change="getListItemDetail(item.id, item.parent)" ng-options="item as item.name for item in listItem">
						
					</select>
				</label>
			</div>
				
			<div class="list" ng-repeat="detail in listItemDetail">
				<div class="list" ng-if="detail.jenis_input == 4">
					<div class="item item-input-inset">
						<label class="item-input-wrapper">
							<p>{{detail.label}} : <span ng-if="lat">{{lat}}, {{long}}</span></p>
						</label>
						<button class="button button-small" ng-click="test()">
							Set Titik
						</button>
					</div>
				</div>

				<div class="list" ng-if="detail.jenis_input == 2">
					<label class="item item-input item-select">
						<div class="input-label">
							{{detail.label}}
						</div>
						<select ng-model="option" ng-change="detail.name == 'tabelrambu1' ? getListSimbol(idParent, option, 'RAMBU', detail.name, option) : a(detail.name, option)" ng-options="option as option for option in detail.option">
						<!-- <select ng-model="option" ng-change="a(detail.name, option)" ng-options="option as option for option in detail.option"> -->
							
						</select>
					</label>
				</div>

				<div class="list" ng-if="detail.jenis_input == 1">
					<label class="item item-input item-select">
						<div class="input-label">
							{{detail.label}}
						</div>
						<select ng-model="icon" ng-change="a(detail.name, icon.name)" ng-options="icon as icon.name for icon in listSimbol">
							
						</select>
					</label>
				</div>

				<div class="list" ng-if="detail.jenis_input == 3">
					<label class="item item-input item-stacked-label">
						<span class="input-label">{{detail.label}}</span>
						<input ng-model="freetext" type="text" ng-change="a(detail.name, freetext)">
						<!-- <textarea type="text"></textarea> -->
					</label>
				</div>
			</div>

			<div class="list">
				<label class="item item-input">
					<span class="input-label">Jumlah Item</span>
					<input type="text" ng-model="jmlItem">
				</label>
			</div>

			<button class="button button-block button-positive" ng-click="createTitik(project.id_pekerjaan, jmlItem)">
				Create
			</button>		
	</ion-content>
</ion-view>

