<style>
	.selected{
		background: lightgray;
	}
	ul.rating li {
		display: inline;
		border: 0px;
		background: none;
		padding: 5px 10px;
	}
	ul.rating li i {
		font-size: 30px;
	}

	.left-auto{
		margin-left: auto;
	}

	.right-auto{
		margin-right: auto;
	}
</style>

<head>
	<link rel="stylesheet" href="mdl/material.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/helpdesk/helpdesk.css">
</head> 



<ion-view>

	<div class="head main-bg-color">
		<div class = "row">
			<div class = "col col-10">
				<div class="top-icon" ui-sref="dashboard">
					<a class="icon ion-ios-arrow-back" style="color: #fff; top:50%"></a>
				</div>
			</div>
			<div class="col col-90">
				<center>
					<i style="font-size: 18px; margin-left:-10%; color: #fff">Status<//i>
				</center>
		 	</div>
		</div>
	</div>
		<ion-content scroll="true" style="
					background : #e6e6e64f;
					margin : 0 auto 0;
					padding-top: 30px;
				">
					
			
				<br/><br/><br/><br/>			
	</ion-content>
</ion-view>

