.title-purnabhakti{
    font-family:  roboto-bold;
    opacity:  0.87;
    font-size:  20px;
    padding:  16px;
    width: 70%;
}

.subtitle-purnabhakti{
    font-family:  roboto-bold;
    opacity:  0.87;
    font-size:  18px;
    padding:  16px;
    padding-bottom: 5px;
}

.button-register{
    height: 41px;
    border: 0px;
    border-radius: 20px;
    width: 98px;
    background: #EFEFF4;
    color: #7C8FEF;
    font-family: roboto-bold;
    margin-top: 13px;
}

.icon-location{
    padding-left: 20px;
    opacity: 0.54;
}

.location-text{
    padding-left: 10px;
    font-family: roboto-regular;
    opacity: 0.87
}

.icon-people{
    padding-left: 20px;    
    opacity: 0.54;
}

.registered-count-text{
    padding-left: 10px;
    font-family: roboto-regular;
    opacity: 0.87;
}

.line-separator{
    opacity: 0.54;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
}

.material-text {
    width: auto;
    border-radius: 20px;
    padding-left: 15px;
    margin-right: 10px !important; 
    color: white;
    display: inline-block;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px !important;
    font-family: roboto-regular;
    opacity: 0.85;  
}

.presenter-container{
    padding-top: 15px;
    padding-left: 20px;
}

.presenter-scroll{
    white-space: nowrap; 
    width: 100%;
}

.image-presenter-container{
    margin-right:15px; 
    display: inline-block; 
    float: none;
}

.image-presenter-container .image-presenter{
    height: 60px; 
    width: 60px; 
    border-radius:100%; 
}

.community-scroll{
    white-space: nowrap; 
    padding: 16px;
}

.community-container{
    width: 280px;
    height: 175px;
    background: #E6E5EB;
    border-radius: 10px;
    display: inline-block; 
    float: none;
    margin-right: 20px;
    box-shadow: 1px 1px 25px 0px rgba(0,0,0,0.1);
}

.community-container .community-avatar{
    height:40px; 
    width:40px; 
    border-radius:100%; 
    margin-left: 22px; 
    margin-top:5px;
}

.title-container{
    margin-top: 8px;
    padding-left: 10px;
    white-space: nowarp;
    width: 180px;
}

.title-name{
    font-size:14px; 
    margin-left:5px; 
    font-family:roboto-bold; 
    line-height: 1.3;
    opacity: 0.87;
    margin-top: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title-jabatan{
    font-size: 12px; 
    margin-left: 5px;
    opacity: 0.54;
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.community-text-post{
    white-space: normal;
    padding: 16px;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 6.6em;
    line-height: 1.8em;
    font-family: roboto-regular;
    opacity: 0.87;
    padding-left: 27px;
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}