.content{
  top:55px;
}

.demo-card-wide.mdl-card {
  width: 92.5%;
  margin-left: 3.75%;
}
.demo-card-wide > .mdl-card__title {
  height: auto;
  width: 90%;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card{
  min-height: auto;
}

.mdl-card__title-text {
  -webkit-align-self: auto;
  align-self: auto;
}

.expertise-container{
  margin-bottom: 15px;
}

.mdl-card__title-text{
  font-size: 20px;
}

.mdl-card__description-text{
  font-weight: normal;
  opacity: 0.54;
  padding: 16px;
  padding-top: 0px;
  margin-top: -10px;
  font-size: 14px !important;
  margin-bottom: 0px;
}

.center-list-icon{
  font-size: 35px;
  color: lightgray;
}

.center-list-button{
  margin-top: 15px;
}

.description__text-left{
  color: #000;
  opacity: 0.54;
  padding-left: 10px;
}

.description__text-right{
  color: #000;
  opacity: 0.54;
  text-align: right;
  padding-right: 10px;
}

div.spinner {
  margin: auto;
  position: absolute;
  top: 10px; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.right-fab{
  position: absolute;
  right: 15px;
  bottom: 50px;
  z-index: 9;
}

.unload-image{
  font-size: 30px !important;
  padding: 5px;
}

.title-text{
  font-size: 14px !important;
  color: gray !important;
}

.description-text{
  font-size: 12px !important;
}

.content-expert{
  top: 65px;
}

.amber{
  background: #FFC107;
}

.floating-button{
  position: absolute;
  right: 10px;
  margin-top: 10px;
  z-index: 9;
}

.customselect{
	width				: 100%;
	height				: 35px;
	border-radius		: 15px;
	background			: #ffffff;
	border				: 1.5px solid #FFC107;
	padding-left		: 10px;
	font-family			: latoregular;
}

.information-text{
  padding-left: 16px;
}

.reopen{
  background-color: white !important;
  color: #F44336 !important;
}

.custom-bar{
  background-color: #FFC107 !important;
}