.coverflow__container {
  left: 0;
  right: 0;
  perspective: 900px;
  transform: translateY(-50%);
}
.coverflow__element {
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  transform-style: preserve-3d;
  transition: all 400ms cubic-bezier(0.01, 0.75, 0.34, 0.95);
  background: #fff;
  cursor: pointer;
}
.coverflow__image img {
  width: 100%;
}
.coverflow__title {
  font-family: Helvetica;
  margin-top: 1rem;
  padding-left: 1.5rem;
}

body {
  background: #444;
  height: 100% !important;
}
