* {box-sizing: border-box;}
.no-margin {margin: 0 !important;}
.no-padding {padding: 0 !important;}
.mt-0 {margin-top: 0 !important;}
.mt-5 {margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-15 {margin-top:15px !important;}
.mt-20 {margin-top:20px !important;}
.mt-25 {margin-top:25px !important;}
.mt-30 {margin-top:30px !important;}
.mt-35 {margin-top:35px !important;}
.mt-40 {margin-top:40px !important;}
.mt-45 {margin-top:45px !important;}
.mt-50 {margin-top:50px !important;}
.mb-0 {margin-bottom:0 !important;}
.mb-5 {margin-bottom:5px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-25 {margin-bottom:25px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-35 {margin-bottom:35px !important;}
.mb-40 {margin-bottom:40px !important;}
.mb-45 {margin-bottom:45px !important;}
.mb-50 {margin-bottom:50px !important;}
.ml-0 {margin-left: 0 !important;}
.ml-5 {margin-left: 5px !important;}
.ml-10 {margin-left: 10px !important;}
.ml-15 {margin-left: 15px !important;}
.mr-0 {margin-right: 0 !important;}
.mr-5 {margin-right: 5px !important;}
.mr-10 {margin-right: 10px !important;}
.mr-15 {margin-right: 15px !important;}
textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
	display: block;
	width: 100%;
	padding: 12px 15px;
	height: auto;
}
.head {
	line-height: 28px;
	box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.top-icon {font-size: 30px;}
.login-box {
	position: absolute;
    bottom: 25%;
    right: 5%;
    left: 5%;
    padding: 20px;
    background: rgba(255,255,255,.65);
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0,0,0,.1);
}
.login-box > img {
    display: block;
    width: 170px;
    margin: -110px auto 15px;
}
.login-box > .input-group {position: relative;}
.login-box > button {
	width: 100%;
	border-radius: 50px;
}
.input-group + .input-group {margin-top: 15px;}
.input-group > i.fa {
	position: absolute;
	top: 12px;
	left: 15px;
	font-size: 20px;
	color: #333333;
}
.input-group > input {
	padding-right: 12px !important;
    padding-left: 40px !important;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    color: #333333;
}
.btn {
	padding: 12px 15px;
	line-height: 1;
	background: #f3f3f3;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 5px;
}
.btn-block {
	display: block;
	width: 100%;
}
.main-bg-color,
a.main-bg-color:focus,
.btn.main-bg-color:focus {
	background: #2961ac;
    color: #ffffff;
}
.second-bg-color,
a.second-bg-color:focus,
.btn.second-bg-color:focus {
	background: #6fc23c;
    color: #ffffff;
}
a.main-bg-color:hover,
.btn.main-bg-color:hover {
	background: #21508d;
    color: #ffffff;
}
a.second-bg-color:hover,
.btn.second-bg-color:hover {
	background: #61ac30;
    color: #ffffff;
}
.scroll-content {
    background: #e6e6e64f;
    margin: 0 auto 0;
    padding: 60px 10px 0;
}
.welcome-box {margin: 10px 0 30px;}
.welcome-text {
    text-align: center;
    font-weight: bolder;
    color: #848484;
    margin: 0 0 5px;
}
.zef-text {
    text-align: center;
    font-size: 31px;
}
.dash-menu-box {
	margin: 0;
	padding: 0 5px;
}
.dash-menu-box:before, .dash-menu-box:after {
	display: table;
	content: "";
}
.dash-menu-box:after {clear: both;}
.dash-menu-box > .dash-menu {
	float: left;
	width: 33.3%;
}
.dash-menu > .expertise-container {margin: 0 !important;}
.expertise-container:active, .expertise-container:hover {background: rgba(0,0,0,.075);}
.dash-menu .card-rj {
	width: 100% !important;
	height: 125px;
	margin: 0;
	padding: 15px 10px 10px;
}
.dash-menu-box > .dash-menu:nth-child(1) .card-rj,
.dash-menu-box > .dash-menu:nth-child(2) .card-rj {
	border-right: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.dash-menu-box > .dash-menu:nth-child(3) .card-rj {border-bottom: 1px solid rgba(0,0,0,.1);}
.dash-menu-box > .dash-menu:nth-child(4) .card-rj,
.dash-menu-box > .dash-menu:nth-child(5) .card-rj {border-right: 1px solid rgba(0,0,0,.1);}
.dash-menu .card-dash-title {
	width: 100% !important;
	font-size: 14px !important;
    font-weight: bold !important;
    text-align: center;
    color: #565656;
}
.card-dash-title > div {
	width: 100%;
	text-align: center;
}
.card-dash-title > div > .la {
    font-size: 40px;
    color: #9f9f9f;
    margin-bottom: 10px;
}
.white-bg {background: #ffffff !important;}
.item-select select {width: 65%;}
.input-label {opacity: 0.75;}
.item {border-radius: 4px;}