.gl-bottom-sheet {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .gl-bottom-sheet.animate .gl-bottom-sheet-content {
        transition: transform .25s ease-in-out;
    }
    .gl-bottom-sheet.animate .gl-bottom-sheet-bg {
        transition: opacity .25s ease-in-out;
    }
    .gl-bottom-sheet-bg {
        transform: translate3d(0, 0, 0);
        background: rgba(0, 0, 0, 0.54);
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .gl-bottom-sheet-content {
        background: #fff;
        bottom: 0;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.26);
        left: 0;
        opacity: 1;
        position: fixed;
        right: 0;
        top: 0;
        -webkit-transform: translate3d(0, 100%, 0);
    }
    .gl-bottom-sheet-content .scroll-content {
        top: 40px;
    }
    .gl-bottom-sheet-content .scroll {
        min-height: 100%;
    }
    .gl-bottom-sheet-content .title {
        line-height: 40px;
        padding: 0 16px;
    }
    scroll-interceptor {
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }