/* Map Template */
#map_canvas {
	width:100%;
	min-height:1024px;
	margin: 0px;
	padding: 0px;
}

/* Font San Francisco */
.fontsssfbold {
	font-family	: ssfbold;
}
.fontsssfreg {
	font-family	: ssfreg;
}
/* font baru 09-11-2016 */
.font-gothambold {
	font-family	: Conv_GothamRnd-Bold;
}

.font-gothamlight {
	font-family	: Conv_GothamRnd-Light;
}

.font-gothambook {
	font-family	: Conv_GothamRnd-Book;
}

.font-gothammed {
	font-family	: Conv_GothamRnd-Medium;
}

/* Side Menu */
.mymenu {
	#background-image: url('../img/menu-red.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
	color: #fff;
}
.mymenu .item-complex .item-content, .mymenu .item-radio .item-content {
	background-color: transparent;
	padding: 10px 49px 10px 15px;
}

/*Set the background to transparent for ion-item*/
.mymenu .item {
	background-color: transparent;
	border: none;
	/* border-top: 1px solid; */
	/* border-bottom: 1px solid;  */
	/*  border-color: #0000cc; */
	/* color: #F0F1F1; */
}

.avatar {
    height: 88px;
    width: 88px;
}
.social-login {
    /* position: fixed; */
    bottom: 0;
}
.float-button {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 30px;
	padding: 30px;
	background: $assertive;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 9999;
}

@font-face {
	font-family: "ssfbold";
	src: url("../fonts/SystemSanFranciscoDisplayBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "ssfreg";
	src: url("../fonts/SystemSanFranciscoDisplayRegular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "ssftin";
	src: url("../fonts/SystemSanFranciscoDisplayThin.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* font baru penambahan 09-11-2016 */
@font-face{
    font-family: 'Conv_GothamRnd-Bold';
    src: url('../fonts/GothamRnd-Bold.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: 'Conv_GothamRnd-Light';
    src: url('../fonts/GothamRnd-Light.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: 'Conv_GothamRnd-Book';
    src: url('../fonts/GothamRnd-Book.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: 'Conv_GothamRnd-Medium';
    src: url('../fonts/GothamRnd-Medium.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}



@font-face{
    font-family: "latolight";
    src: url("../fonts/Lato-Light.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}


@font-face{
    font-family: "latobold";
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}



@font-face{
    font-family: "latoregular";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family: "ltromatic";
    src: url("../fonts/ltromatic.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}


.scroll{
	height: 100%;
}

/* Dashboard */
.dashboard-form {
	-webkit-background-size	: cover !important;
	-moz-background-size	: cover !important;
	-o-background-size		: cover !important;
	background-size			: cover !important;
	/* animation				: fadein 2s; */
	/* -moz-animation			: fadein 2s; */ /* Firefox */
	/* -webkit-animation		: fadein 2s; */ /* Safari and Chrome */
	/* -o-animation			: fadein 2s; */ /* Opera */
}
.transparent {
	/* background-color	: rgba(255, 255, 255, 0.3); */
	height				: 100%;
	width				: 100%;
}

/* Global */
.center {
	text-align		: center !important;
}
.white-text {
	color			: white;
}
.red-text {
	#color			: #EC655A;
	color			: #e69500;
}
.orange {
	color			: #e69500;
}
.blue-text {
	color			: #0070a2;
}
.small-text {
	font-family		: ssfreg !important;
	font-size		: 10px !important;
}
.navbar-telkom {
	text-align	: left;
	width		: 25px;
	height		: 22px;
	margin-bottom	: -3px;
	margin-right	: 1px;
	padding		: auto;
}
.bar .title.title-left {
	text-align: center !important;
}


/* Profile Page */
.photoprofile {
	position: absolute;
	top: 85px;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: 0 0 0 -55px;
	border: 5px solid #FFF;
	border-radius: 50%;
}

.coverprofile {
	height: 160px;
	overflow: hidden;
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.profile-covermargintop{
	margin-top:30px;
}

/* Animation Fade in */
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}
@-moz-keyframes fadein { /* Firefox */
    from { opacity:0; }
    to { opacity:1; }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0; }
    to { opacity:1; }
}
@-o-keyframes fadein { /* Opera */
    from { opacity:0; }
    to { opacity: 1; }
}

.margin-top-10 {
	margin			: 5% auto !important;
	margin-bottom	: 1% !important;
}
.margin-top-3 {
	margin			: 3% auto !important;
}

/* Start Login Page */
	#login {
		/* background				: #D7D7D7 url("../img/login/Backgroud-login.png") no-repeat center center; */
		-webkit-background-size	: cover;
		-moz-background-size	: cover;
		-o-background-size		: cover;
		background-size			: cover;
		/* opacity	: 0.4 !important; */
	/* 	background			: url("../img/login/Book-login.png") !important;
		background-size		: 60% !important;
		background-repeat	: no-repeat !important;
		background-position	: center bottom !important; */
		.scroll-content {
			display	: table !important;
			width	: 100% !important;
			height	: 100% !important;
			form {
				display			: table-cell;
				vertical-align	: middle;
				.header {
					padding-bottom	: 20px;
					img {
						display	: block;
						width	: 80%;
						margin	: 0 auto;
					}
				}
				.button.button-assertive.active, .button.button-assertive.activated {
					color	: #fff;
					opacity	: inherit;
				}
			}
		}
	}
	.logo {
		width	: 75% !important;
		height	: auto !important;
		/* // opacity	: 0.7 !important; */
	}
	.logo-login-telkom {
		width	: 20% !important;
		height	: auto !important;
		/* // opacity	: 0.7 !important; */
	}
	.button-login {
		/* opacity				: 0.85 !important; */
		width				: 100% !important;
		background-color	: #05c893 !important;
	}
	.header.padding.text-center {
		margin-bottom	: 1%;
	}
	.login-version {
		font-size		: 6px;
		color			: black;
		/* z-index			: -199;
		position		: absolute;
		bottom			: 0;
		left			: 25%;
		right			: 25%;
		display			: inline-block;
		margin-bottom	: 5% !important; */
	}

	.no-border {
		border	: 0px !important;
	}

	.transparent-field {
		background-color	: transparent !important;
		border				: 0 !important;
		outline				: 0 !important;
		/* bottom				: 0;
		border-bottom		: 1px ridge #0070a2 !important; */
	}

	.transparent-field:before {
/*		position		: absolute;
		left			: 5%;
		bottom			: 0;
		height			: 1px;
		content			: "";
		border			: 0 !important;
		outline			: 0 !important;
		width			: 90% !important;
		border-bottom	: 1px ridge #0070a2 !important;*/
	}

	.icon-login-field {
		width	: 10% !important;
		height	: auto !important;
		margin	: auto !important;
		margin-left		: 1% !important;
		margin-right	: 5% !important;
        position        : absolute;
	}

	.img-button {
		background		: transparent;
		border-radius	: 50%;
		border			: 0px solid;
	}
	.img-login-button {
		width		: 40% !important;
		height		: auto !important;
		/* margin		: auto !important; */
	}
/* End Login Page */

/* Start Background Page */
	.margin-bg-transparent {
		margin	: auto;
		height	: 100%;
	}
	.logo-telkom-dashboard {
		max-width	: 100%;
		/* height		: 4.6em; */
		height		: 120px;
		margin		: 1% auto;
		background-size	: cover;
	}
	.dashboard-welcome {
		color		: #777777;
		font-family	: ssfbold;
		/* font-size	: 18px; */
	}
	.dashboard-name {
		color		: #333333;
		font-family	: ssfreg;
		/* font-size	: 14px; */
	}
	.dashboard-text {
		margin		: 13px 0 0;
        color       : #333333;
	}
    .dashboard-text h4, .dashboard-text h6 {
		margin      : 0;
        font-family : "Conv_GothamRnd-Bold";
	}
	.responsive-circle {
        float       : left;
		font-size	: 80px;
		font-weight	: 700;
		margin		: 0 5px 0 0;
		width		: 60px;
		animation		: fadein 5s;
		-moz-animation	: fadein 5s;
		-o-animation	: fadein 5s;
		-webkit-animation	: fadein 5s;
	}
	.responsive-circle::after {
		border-radius	: 100%;
		content			: "";
		display			: block;
		height			: 0;
		margin-bottom	: 0;
		padding-bottom	: 100%;
		width			: 100%;
		/*box-shadow		: 0 0 5px #4E4E4E !important;*/
	}
	.responsive-circle div {
		color			: white;
		float			: left;
		line-height		: 1em;
		margin-top		: -0.5em;
		padding-top		: 50%;
		text-align		: center;
		width			: 100%;
	}
	.dashboard-margin {
		margin			: 5% auto;
	}

	.update-version {
		max-width    : 100%;
		z-index      : 999;
		position    : absolute;
		margin-bottom  : 10% !important;
		bottom      : 0;
		left      : 0;
		right      : 0;
		display      : inline-block;
		color      : white;
		font-family    : ssfreg;
		font-size    : 12px;
	  }

	.dashboard-button {
		margin			: auto !important;
		max-width		: 100%;
		width			: 100%;
		/* border			: 1px solid white !important; */
		border-radius	: 35px !important;
		font-family		: ssfbold;
		/* box-shadow		: 0 0 5px #4E4E4E !important; */
	}
	.dashboard-version {
		max-width		: 100%;
		z-index			: 999;
		position		: absolute;
		margin-bottom	: 1% !important;
		bottom			: 0;
		left			: 0;
		right			: 0;
		display			: inline-block;
		color			: white;
		font-family		: ssfreg;
		font-size		: 12px;
	}
	@media (min-width:641px) {
		.logo-telkom-dashboard {
			max-width	: 100%;
			/* height		: 4.6em; */
			height		: 140px;
			margin		: 1% auto;
			background-size	: cover;
		}
		.dashboard-button {
			margin			: auto !important;
			max-width		: 100%;
			width			: 50%;
			/* border			: 1px solid white !important; */
			border-radius	: 35px !important;
			font-family		: ssfbold;
			/* box-shadow		: 0 0 5px #4E4E4E !important; */
		}
		.responsive-circle {
			font-size	: 80px;
			font-weight	: 700;
			margin		: 0 auto 20px;
			width		: 30%;
			animation		: fadein 5s;
			-moz-animation	: fadein 5s;
			-o-animation	: fadein 5s;
			-webkit-animation	: fadein 5s;
		}
	}
	@media (min-width:1024px) {
		.logo-telkom-dashboard {
			max-width	: 100%;
			/* height		: 4.6em; */
			height		: 140px;
			margin		: 1% auto;
			background-size	: cover;
		}
		.dashboard-button {
			margin			: auto !important;
			max-width		: 100%;
			width			: 30%;
			/* border			: 1px solid white !important; */
			border-radius	: 35px !important;
			font-family		: ssfbold;
			/* box-shadow		: 0 0 5px #4E4E4E !important; */
		}
		.responsive-circle {
			font-size	: 80px;
			font-weight	: 700;
			margin		: 0 auto 20px;
			width		: 20%;
			animation		: fadein 5s;
			-moz-animation	: fadein 5s;
			-o-animation	: fadein 5s;
			-webkit-animation	: fadein 5s;
		}
	}
/* End Background Page */

/* Start Absen In Page */
	.absen-in-top {
		/*background	: rgba(255,174,25, .4);*/
		margin		: 0 5px 1%;
        /*border-bottom: 1px solid #999;*/
	}
    .absen-in-date, .absen-in-clock {
        color: #fff;
        margin-top: 3px;
        margin-bottom: 5px;
        text-shadow: 1px 1px 1px #333;
        background: rgba(2,71,254,.5);
        text-align: center;
        padding: 5px;
        border: 1px rgb(2,71,254);
    }
    .absen-in-clock {

    }
	.absen-in-img {
		width			: auto;
		height          : 80px;
		margin			: auto;
		/*opacity			: 0.6;*/
	}
	.absen-in-emoticon img {
		width	: auto;
		height	: 50px;
		border	: 3px solid rgba(167, 167, 167, 0.3);
		border-radius	: 50%;
	}
	#map {
		margin-left		: auto;
		margin-right	: auto;
		width			: 100%;
		height			: 40vh;
	}
/* End Absen In Page */

.top-todo {
	margin	: 2% auto !important;
}

.lower-todo {
	margin-top	: 65% !important;
	height		: 50% !important;
	/* margin-bottom	: 50px !important; */
}

.circle-list {
	list-style-type: decimal !important;
}

.my-custom-popup .popup{
	width	: 100% !important;
}

.popup-buttons button{
	#background-color: #EF473A !important;
	background-color: #e69500 !important;
}

.ul-about {
	list-style-type	: square;
}

.transparent {
	background	:transparent !important;
}

/* Activity List */
.ul-activity {
	margin-top		: 5%;
	margin-bottom	: auto;
	margin-left		: -20px;
	margin-right	: -20px;
}
.ul-activity li div{
	margin-top		: -8px;
}
.indexing-Actlist {
	margin-left		: -13px;
}
.act-list-val {
	margin-left		: -13px;
}

.tab-item .badge {
	top: 3px;
	right: 50%;

}

.tab-item{
    position: relative;
	opacity: 1 !important
}

.row2 {
    display: block;
    width: 100%;
}

.row2:before, .row2:after {
    display: table;
    content: " ";
    clear: both;
}

.banner {
    margin: 25px -5px 0;
    display: block;
    #height: 200px;
    background: transparent;
}

.konten-banner {
    display: block;
    width: 100%;
    height: 100%;
}

.transbox {
	text-align: center;
	padding: 5px 2px;
	left: 0px;
	width: 100%;
	margin: auto;
	/*background: rgba(255, 255, 255, 0.5);
	border: 1px solid #eae1e1;*/
}

.transbox2 {
	text-align: center;
	padding: 5px 2px;
	left: 0px;
	width: 100%;
	margin: auto;
	#background: rgba(255, 255, 255, 0.5);
	#border: 1px solid #eae1e1;
}

.badge {
    top: 4px;
	right: 43px;

}
.head {
    display: block;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #e69500;
}

.cols-20 {
    float: left;
    width: 20%;
    padding: 1px;
}

.cols-25 {
    float: left;
    width: 25%;
    padding: 1px;
}

.logo-d {
    float: left;
    margin: 10px;
}

.logo-t {
    float: right;
    margin: 10px;
}
.menu {
    background-color: #f8f8f8 !important;
}
#text-alamat {
    background: rgba(255,255,255, .5);
    box-shadow: 1px 1px 1px 1px #c7c7c7;
}

@media (min-width:641px) {
	.indexing-Actlist {
		margin-left		: -50px;
	}
	.act-list-val {
		margin-left		: -50px;
	}
}
@media (min-width:1024px) {
	.indexing-Actlist {
		margin-left		: -70px;
	}
	.act-list-val {
		margin-left		: -70px;
	}
}


/* ionic modal image  */
.transparent {
  background: transparent !important;
  padding-top: 50px;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 80%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.group-slide {
	position: relative;
    display: block;
    min-height: 80px;
    margin-top: 0px;
}
ion-content ion-content.has-footer {bottom: 0;}

.body-custom {
    #background: #ffffff url(../img/bg-dashboard.png)no-repeat top center / cover !important;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

/* custom bar
==================================*/
.custom-bar {
    background-color : #FCD47E !important;
}

/* custom button
==================================*/
.custom-button {
    background-color : #e69500 !important;
}




/* Ingenium Font */

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  /* font-weight: 400; */
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  /* font-weight: 400; */
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  /* font-weight: 400; */
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  /* font-weight: 400; */
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  /* font-weight: 400; */
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  /* font-weight: 400; */
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  /* font-weight: 400; */
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


* {
  font-family: 'roboto-regular';
}

.title-text{
  font-family: 'roboto-bold';
}

@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto-bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


